* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}
/*------------header-----------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  width: 1158px;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 332px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;)
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
}

.header-contact-list {
  display: flex;
  gap: 40px;
}

.header-contact-item {
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}

/*-------------------------------*/

/*------------hero-------------*/

.hero {
  height: 600px;
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-order-btn {
  font-family: 'Roboto' sans-serif;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  min-width: 169px;
}

.hero-order-btn:hover {
  background: #404bbf;
}

.hero-order-btn:focus {
  background: #404bbf;
}

/*-------------------------------*/

/*------------advantages-----------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}
.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-------------------------------*/

/*------------team-----------*/

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4); 
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
}

.team-item-image {
  
}

.team-title-text {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*-------------------------------*/

/*------------portfolio-----------*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
}
.portfolio-item-image {
  display: block;
  max-width: 100%;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-item-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px
}

/*-------------------------------*/

/*------------footer-----------*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
